
<html>
    <head>
    <title>
        About
    </title>
  </head>
 <body style="background-color:yellow;">
    <h2><p style="text-align: center; color: black;">Chan pvt limited</p></h2>
    <h2><p style="text-align: center; color: black;">trying to help people .</p></h2>
    <h2><p style="text-align: center; color: black;">contact www.instagram/username/chandan._7676</p></h2>
    <p style="text-align: center;"><button><a href="index.html">Home</a></button></p>
 </body>
</html>
